@model System.Data.DataTable

@{
    ViewBag.Title = "EvaluateCompetition";
}

<div class="header">results</div>
<table border=1 class="results">
    <tr>
    @foreach (System.Data.DataColumn col in Model.Columns)
    {
        <th>@col.ColumnName</th>
    }
    </tr>


@foreach (System.Data.DataRow row in Model.Rows)
{
    <tr>
    @foreach (System.Data.DataColumn col in Model.Columns)
    {
        var cls = "";
        if (col.ColumnName != "Username" && col.ColumnName != "Total")
        {
            cls = row[col].ToString() == "0" ? "wrong" : "correct";
        }
        <td class="@cls">@row[col]</td>
    }
    </tr>
}
</table>