@model PrototypeTopCoder.Models.ProblemModel
           
@{
    ViewBag.Title = "ViewTask";
}

<h2>ViewTask</h2>

@if (Model is PrototypeTopCoder.Models.SimpleTestProblemModel)
{
    @Html.Partial("ViewSimpleTestProblem", Model)
}
@if (Model is PrototypeTopCoder.Models.ComplexTestProblemModel)
{
    @Html.Partial("ViewComplexTestProblem", Model)
}
else
{
    @Html.Label("Nqma takis")
}