body {
    color: #444444;
    background-color: #ebebeb;
    font-family:Segoe UI;
    font-weight:lighter; 
    font-size:12pt;
}

.navbar-inner {
    height: 60px;
    color: #fff;
    border: 0px;
    border-radius: 0px;
    background: #199bd8;
}

.logo {
    font-size: 26px;
    margin-top: 5px;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.logo img {
    height: 50px;
}

.logo span {
    margin-left: 5px;
}

.logOn {
    padding-top: 20px;
    text-align: right;
    font-size: 20px;
}


.dropdown-menu {
    border-radius: 0px;
    background: #5EBFE8;
    color: #fff;
}

.welcome {
    display: inline;
    position: relative;
    padding-bottom: 2px;
}

.welcome .dropdown-menu {
    left: -140px;
}

.welcome li a, .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 10px;
}

.settingsWheel {
    height: 16px;
}

.menu {
    background-color: #199bd8;
    width: 120px;
}

.menu li {
    display: block;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.menu li:not(:last-child) {
    border-bottom: solid 1px #188bd8;
}

.menu li:hover {
    background-color: #2e3092;
}

.menu li a {
    display: block;
}

@media (max-width: 767px) {
    .logOn {
        position: absolute;
        top: 0px;
        right: 20px;
    }
}

input[type="radio"] {
    float: left;
    margin-right: 5px;
}

.problem {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #199bd8;
    padding: 10px;
    color: #fff;
    font-size: 18px;
}

.problem label {
    font-size: 18px;
}

#countdown {
    position: absolute;
    right: 20px;
    font-weight: bold;
}

.problemTitle {
    font-style: italic;
}

div.header {
    width: 100%;
    background-color: #199bd8;
    color: #fff;
    font-size: 24px;
    padding: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.activity .header {
    margin-top: 20px;
}

.tile {
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #e05829;
    border-color: #e05829;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.row-fluid:nth-child(2n+1) .tile:nth-child(3n+1) {
    background-color: #bd0c49;
    border-color: #bd0c49;
}

.tile:nth-child(3n+2) {
    background-color: #8bb33d;
    border-color: #8bb33d;
}

.tile:hover {
}

.tile div {
    margin-bottom: 10px;
}

.tile div:first-child {
    font-size: 24px;
    margin-bottom: 15px;
}

.tile .action {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.tile .background {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: inherit;
    z-index: -1;
    margin: 0px;
}

.tile:hover .background {
    left: -3px;
    right: -3px;
    top: -3px;
    bottom: -3px;
}

.activity .tile {
    height: 60px;
    margin-left: 8px;
}

.tile img {
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 10px;
}

.tile .timestamp {
    position: absolute;
    right: 10px;
    top: 5px;
    opacity: 0.6;
}

.tile .name {
    font-weight: bold;
}

.tile .tag {
    font-style: italic;
}