@model PrototypeTopCoder.Models.InsideCompetitionModel

@{
    ViewBag.Title = "Index";
}

<script src="@Url.Content("~/Scripts/custom/competition.js")" type="text/javascript"></script>
<div>
    <div id="countdown">
        <span id="timeLeft" data-timeLeft="@Convert.ToInt32(Model.TimeLeft.TotalSeconds)">@Model.TimeLeft.ToString(@"hh\:mm\:ss")</span>s left.
    </div>

    @foreach(var problem in Model.Problems)
    {
        switch (problem.Type)
        {
            case PrototypeTopCoder.Models.ProblemType.SimpleTestQuestion:
                @Html.Partial("~/Views/Competition/TestProblem.cshtml", problem);
                break;
        }
    }
</div> 
