@model PrototypeTopCoder.Models.SimpleTestProblemModel

<script>
    $(function () {
        var id = @Model.ID
        $('[name="question' + id + '"]').click(function () {
            var value = this.value;
            $.ajax({
                url: "/Competition/SubmitSimpleQuestion/" + id + "?answer=" + value
            }).done(function (data) {
                if (data == "OK") {
                    
                } else {
                    
                }
            });
        });
    });
</script>

<div class="problem">
    <div class="display-field">
        @Html.Raw(Model.Question)
    </div>

    @for (int i = 0; i < Model.Options.Count; ++i)
    {
        <input type="radio" name=@("question" + Model.ID) value="@i" />
        <label for="question@Model.ID">@Model.Options[i]</label>
    }
</div>
