<!DOCTYPE html>
<html>
<head>
    <link href="../Content/contest.css" rel="stylesheet" type="text/css">
    <title>Contest title</title>
</head>
<body>
<div class="sideMenu problemList">
    <div class="answerSelected" id="1">
        <span>Problem 1</span>
        (15p.)
        <span class="timeLeft">10</span>s
    </div>
    <div class="correct active">
        <span>Problem 2</span>
        (15p.) 10s
    </div>
    <div class="wrong">
        <span>Problem 3</span>
        (15p.) 10s
    </div>
    <div>
        <span>Problem 4</span>
    </div>
</div>
<div class="problem">
    <p>Problem statement - select one of the possible answers below:</p>
    <div>
        <input type="radio" id="answer1" name="answer" />
        <label for="answer1">First possible answer</label>
    </div>
    <div>
        <input type="radio" id="answer2" name="answer" />
        <label for="answer2">Second possible answer</label><br />
    </div>
    <div>
        <input type="radio" id="answer3" name="answer" />
        <label for="answer3">Third possible answer</label><br />
    </div>
    <div>
        <input type="radio" id="answer4" name="answer" />
        <label for="answer4">Fourth possible answer</label><br />
    </div>
</div>
</body>
</html>