<!DOCTYPE html>
<html>
<head>
    <title>Home page</title>
    <link href="../Content/home.css" rel="stylesheet" type="text/css">
    <link href="../Content/contest.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="sideMenu">
        <div class="header">Better</div>
        <div class="active">> Home</div>
        <div>> Contests</div>
        <div>> Event Calendar</div>
        <div>> Statistics</div>
        <div>> About</div>
    </div>
    <div class="container">
        <div class="header">Activity</div>
        <div class="contestList">
            <div class="header">Upcoming contests</div>
            <table>
                <tr>
                    <td class="name">First contest</td>
                    <td class="time">March 19th, 5PM - 7PM</td>
                    <td class="register"><a href="#">Register</a></td>
                </tr>
                <tr>
                    <td class="name">Second contest</td>
                    <td class="time">April 4th, 3PM - 3:45PM</td>
                    <td class="register"><a href="#">Register</a></td>
                </tr>
                <tr>
                    <td colspan="3" class="showAll">
                        <a href="#">Show all competitions...</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>