body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.sideMenu {
    background-color: ghostwhite;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding: 10px;
    padding-right: 20px;
    border-right: solid 1px gray;
    min-width: 100px;
}

.sideMenu > div {
    vertical-align: bottom;
    margin-top: 10px;
    position: relative;
}

.sideMenu>div::after {
    content: '';
    width: 8px;
    height: 20px;
    display: block;
    position: absolute;
    right: -20px;
    top: 0px;
}

.sideMenu>div:not(.header):not(.active):hover::after {
    background-color: lightblue;
}

.sideMenu>div.active::after {
    background-color: darkblue;
}

.sideMenu > .header {
    font-size: 36px;
}

.sideMenu span {
    border-bottom: solid 1px #000000;
}

.sideMenu.problemList>div::before {
    content: '';
    width: 20px;
    height: 20px;
    background-size: 20px;
    float: left;
    border: solid 1px #000000;
    padding: 0px;
    margin-right: 5px;
}

.answerSelected::before {
    background-image: url("images/question_mark.png");
}

.correct::before {
    background-image: url("images/correct.png");
}

.wrong::before {
    background-image: url("images/X.png");
}

.problem {
    position: fixed;
    left: 200px;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 20px;
}

.problem > div {
    padding-bottom: 5px;
}